# PyCity Schools Assignment 4

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
#THIS IS TO KNOW THE PATH OF EVERY CSV FILE
school_data=Path("Resources/schools_complete.csv")
students_data=Path("Resources/students_complete.csv")

In [3]:
#THIS IS TO OPEN EVERY CSV.FILE
school_data_pd=pd.read_csv(school_data)
students_data_pd=pd.read_csv(students_data)

In [4]:
school_data_pd.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
students_data_pd.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
#i want to know the name of every columns to calculate
school_data_pd.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [7]:
students_data_pd.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

SCHOOLS AND STUDENTS DATA COMPLETE

In [8]:
#HERE, I MERGE BOTH CSV FILE IN ONE TO CONSOLIDATE ALL THE INFORMATION IN ONE FILE.
school_students_complete=pd.merge(students_data_pd,school_data_pd,how="left",on=["school_name","school_name"])
school_students_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [9]:
school_students_complete["mean_score"]=(school_students_complete["reading_score"]+school_students_complete["math_score"])/2
school_students_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,mean_score
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,72.5
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,77.5
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,75.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,62.5
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,90.5

DISTRICT SUMMARY

In [10]:
school_count=school_data_pd["type"].count()
school_count

15

In [11]:
#here, we count every students of every schools and we can see that we have 39170 students.
students_count=school_students_complete["student_name"].count()
students_count

39170

In [12]:
school_budget=school_data_pd["budget"].sum()
school_budget

24649428

In [13]:
mean_math=students_data_pd["math_score"].mean()
mean_math

78.98537145774827

In [14]:
mean_reading=students_data_pd["reading_score"].mean()
mean_reading

81.87784018381414

In [15]:
passing_math_count=school_students_complete[(school_students_complete["math_score"]>=70)].count()["student_name"]
passing_math_perc=passing_math_count/float(students_count)*100
passing_math_perc

74.9808526933878

In [16]:
passing_reading_count=school_students_complete[(school_students_complete["reading_score"]>=70)].count()["student_name"]
passing_reading_perc=passing_reading_count/float(students_count)*100
passing_reading_perc

85.80546336482001

In [17]:
passing_total_count=school_students_complete[(school_students_complete["math_score"]>=70)&(school_students_complete["reading_score"]>=70)].count()["student_name"]
passing_total_perc=passing_total_count/float(students_count)*100
passing_total_perc

65.17232575950983

In [18]:
district_summary=pd.DataFrame([{"Total Number of Unique Schools":school_count,
                              "Total Students":students_count,
                              "Total Budget":school_budget,
                              "Average Math Score":mean_math,
                              "Average Reading Score":mean_reading,
                              "% Passing Math":passing_math_perc,
                              "% Passing Reading":passing_reading_perc,
                              "% Overall Passing": passing_total_perc}])

district_summary["Total Students"]=district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"]=district_summary["Total Budget"].map("${:,}".format)
district_summary["Average Math Score"]=district_summary["Average Math Score"].map("{:.2f}%".format)
district_summary["Average Reading Score"]=district_summary["Average Reading Score"].map("{:.2f}%".format)
district_summary["% Passing Math"]=district_summary["% Passing Math"].map("{:.2f}%".format)
district_summary["% Passing Reading"]=district_summary["% Passing Reading"].map("{:.2f}%".format)
district_summary["% Overall Passing"]=district_summary["% Overall Passing"].map("{:.2f}%".format)

district_summary.head()

,Total Number of Unique Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99%,81.88%,74.98%,85.81%,65.17%

Schools Summary

In [19]:
#Schools Names
name_schools=school_data_pd["school_name"].unique()
name_schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [20]:
#District Types
District_type=school_data_pd["type"].unique()
District_type

array(['District', 'Charter'], dtype=object)

In [21]:
#Students per School
students_per_school=school_students_complete.groupby("school_name")
resume_stu_schol=pd.DataFrame(students_per_school["student_name"].count())
resume_stu_schol.head()

                      student_name
school_name
Bailey High School            4976
Cabrera High School           1858
Figueroa High School          2949
Ford High School              2739
Griffin High School           1468

In [22]:
#Budget per school
budget_per_school=school_data_pd.groupby("school_name")
resume_budget_sch=pd.DataFrame(budget_per_school["budget"].sum())
resume_budget_sch.head()

                       budget
school_name
Bailey High School    3124928
Cabrera High School   1081356
Figueroa High School  1884411
Ford High School      1763916
Griffin High School    917500

In [34]:
budget_per_studant=school_data_pd.groupby("school_name")
budget_per_studant=pd.DataFrame({"Budget":budget_per_school["budget"].sum()/students_per_school["student_name"].count()})
budget_per_studant.head()

                      Budget
school_name
Bailey High School     628.0
Cabrera High School    582.0
Figueroa High School   639.0
Ford High School       644.0
Griffin High School    625.0

In [24]:
resume=pd.DataFrame.merge(resume_budget_sch,resume_stu_schol,on="school_name",how="inner")
resume.head()

                       budget  student_name
school_name
Bailey High School    3124928          4976
Cabrera High School   1081356          1858
Figueroa High School  1884411          2949
Ford High School      1763916          2739
Griffin High School    917500          1468

In [25]:
resume["Budget Per Student"]=budget_per_school["budget"].sum()/students_per_school["student_name"].count()
resume.head()

                       budget  student_name  Budget Per Student
school_name
Bailey High School    3124928          4976               628.0
Cabrera High School   1081356          1858               582.0
Figueroa High School  1884411          2949               639.0
Ford High School      1763916          2739               644.0
Griffin High School    917500          1468               625.0

In [26]:
average_math=students_data_pd.groupby("school_name")
resume["Average Math Score"]=average_math["math_score"].mean()
resume.head()

,budget,student_name,Budget Per Student,Average Math Score
school_name,,,,
Bailey High School,3124928,4976,628.0,77.048432
Cabrera High School,1081356,1858,582.0,83.061895
Figueroa High School,1884411,2949,639.0,76.711767
Ford High School,1763916,2739,644.0,77.102592
Griffin High School,917500,1468,625.0,83.351499

In [27]:
average_reading=students_data_pd.groupby("school_name")
resume["Average Reading Score"]=average_math["reading_score"].mean()
resume.head()

,budget,student_name,Budget Per Student,Average Math Score,Average Reading Score
school_name,,,,,
Bailey High School,3124928,4976,628.0,77.048432,81.033963
Cabrera High School,1081356,1858,582.0,83.061895,83.975780
Figueroa High School,1884411,2949,639.0,76.711767,81.158020
Ford High School,1763916,2739,644.0,77.102592,80.746258
Griffin High School,917500,1468,625.0,83.351499,83.816757

In [55]:
passing_math=school_students_complete[(school_students_complete["math_score"]>=70)]
resume["#Passing Math"]=passing_math.groupby(["school_name"]).size()
resume.head()

,budget,student_name,Budget Per Student,Average Math Score,Average Reading Score,#Passing Math,#Passing Reading
school_name,,,,,,,
Bailey High School,3124928,4976,628.0,77.048432,81.033963,3318,4077
Cabrera High School,1081356,1858,582.0,83.061895,83.975780,1749,1803
Figueroa High School,1884411,2949,639.0,76.711767,81.158020,1946,2381
Ford High School,1763916,2739,644.0,77.102592,80.746258,1871,2172
Griffin High School,917500,1468,625.0,83.351499,83.816757,1371,1426

In [61]:
passing_reading=school_students_complete[(school_students_complete["reading_score"]>=70)]
resume["#Passing Reading"]=passing_reading.groupby(["school_name"]).size()
resume.head()

,budget,student_name,Budget Per Student,Average Math Score,Average Reading Score,#Passing Math,#Passing Reading,% Passing Math,#Passing Both
school_name,,,,,,,,,
Bailey High School,3124928,4976,628.0,77.048432,81.033963,3318,4077,66.680064,2719
Cabrera High School,1081356,1858,582.0,83.061895,83.975780,1749,1803,94.133477,1697
Figueroa High School,1884411,2949,639.0,76.711767,81.158020,1946,2381,65.988471,1569
Ford High School,1763916,2739,644.0,77.102592,80.746258,1871,2172,68.309602,1487
Griffin High School,917500,1468,625.0,83.351499,83.816757,1371,1426,93.392371,1330

In [60]:
passing_both=school_students_complete[(school_students_complete["reading_score"]>=70)&(school_students_complete["math_score"]>=70)]
resume["#Passing Both"]=passing_both.groupby(["school_name"]).size()
resume.head()

,budget,student_name,Budget Per Student,Average Math Score,Average Reading Score,#Passing Math,#Passing Reading,% Passing Math,#Passing Both
school_name,,,,,,,,,
Bailey High School,3124928,4976,628.0,77.048432,81.033963,3318,2719,66.680064,2719
Cabrera High School,1081356,1858,582.0,83.061895,83.975780,1749,1697,94.133477,1697
Figueroa High School,1884411,2949,639.0,76.711767,81.158020,1946,1569,65.988471,1569
Ford High School,1763916,2739,644.0,77.102592,80.746258,1871,1487,68.309602,1487
Griffin High School,917500,1468,625.0,83.351499,83.816757,1371,1330,93.392371,1330

In [58]:
resume["% Passing Math"]=(resume["#Passing Math"]/resume["student_name"])*100
resume.head()

,budget,student_name,Budget Per Student,Average Math Score,Average Reading Score,#Passing Math,#Passing Reading,% Passing Math
school_name,,,,,,,,
Bailey High School,3124928,4976,628.0,77.048432,81.033963,3318,4077,66.680064
Cabrera High School,1081356,1858,582.0,83.061895,83.975780,1749,1803,94.133477
Figueroa High School,1884411,2949,639.0,76.711767,81.158020,1946,2381,65.988471
Ford High School,1763916,2739,644.0,77.102592,80.746258,1871,2172,68.309602
Griffin High School,917500,1468,625.0,83.351499,83.816757,1371,1426,93.392371

In [62]:
resume["% Passing Reading"]=(resume["#Passing Reading"]/resume["student_name"])*100
resume.head()

,budget,student_name,Budget Per Student,Average Math Score,Average Reading Score,#Passing Math,#Passing Reading,% Passing Math,#Passing Both,% Passing Reading
school_name,,,,,,,,,,
Bailey High School,3124928,4976,628.0,77.048432,81.033963,3318,4077,66.680064,2719,81.933280
Cabrera High School,1081356,1858,582.0,83.061895,83.975780,1749,1803,94.133477,1697,97.039828
Figueroa High School,1884411,2949,639.0,76.711767,81.158020,1946,2381,65.988471,1569,80.739234
Ford High School,1763916,2739,644.0,77.102592,80.746258,1871,2172,68.309602,1487,79.299014
Griffin High School,917500,1468,625.0,83.351499,83.816757,1371,1426,93.392371,1330,97.138965

In [64]:
resume["% Overall Passing"]=(resume["#Passing Both"]/resume["student_name"])*100
resume.head()

,budget,student_name,Budget Per Student,Average Math Score,Average Reading Score,#Passing Math,#Passing Reading,% Passing Math,#Passing Both,% Passing Reading,% Overall Passing
school_name,,,,,,,,,,,
Bailey High School,3124928,4976,628.0,77.048432,81.033963,3318,4077,66.680064,2719,81.933280,54.642283
Cabrera High School,1081356,1858,582.0,83.061895,83.975780,1749,1803,94.133477,1697,97.039828,91.334769
Figueroa High School,1884411,2949,639.0,76.711767,81.158020,1946,2381,65.988471,1569,80.739234,53.204476
Ford High School,1763916,2739,644.0,77.102592,80.746258,1871,2172,68.309602,1487,79.299014,54.289887
Griffin High School,917500,1468,625.0,83.351499,83.816757,1371,1426,93.392371,1330,97.138965,90.599455

In [80]:
resume_2=pd.merge(resume,school_data_pd,on="school_name",how="outer")
resume_2.head()

,school_name,budget_x,student_name,Budget Per Student,Average Math Score,Average Reading Score,#Passing Math,#Passing Reading,% Passing Math,#Passing Both,% Passing Reading,% Overall Passing,Type,School Type,School ID,type,size,budget_y
0,Bailey High School,3124928,4976,628.0,77.048432,81.033963,3318,4077,66.680064,2719,81.933280,54.642283,NaN,NaN,7,District,4976,3124928
1,Cabrera High School,1081356,1858,582.0,83.061895,83.975780,1749,1803,94.133477,1697,97.039828,91.334769,NaN,NaN,6,Charter,1858,1081356
2,Figueroa High School,1884411,2949,639.0,76.711767,81.158020,1946,2381,65.988471,1569,80.739234,53.204476,NaN,NaN,1,District,2949,1884411
3,Ford High School,1763916,2739,644.0,77.102592,80.746258,1871,2172,68.309602,1487,79.299014,54.289887,NaN,NaN,13,District,2739,1763916
4,Griffin High School,917500,1468,625.0,83.351499,83.816757,1371,1426,93.392371,1330,97.138965,90.599455,NaN,NaN,4,Charter,1468,917500

In [85]:

resume_3=resume_2.loc[:,["school_name","type","budget_x","student_name","Budget Per Student","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]]
per_school_summary=resume_3.set_index("school_name")
per_school_summary.head()

,type,budget_x,student_name,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [113]:
per_school_summary_2=per_school_summary.rename(columns={"type":"School Type",
                                   "budget_x":"Total School Budget",
                                   "student_name":"Student Name"})
per_school_summary_2.head()

,School Type,Total School Budget,Student Name,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

# Highest-Performing Schools (By % Overall Passing)

In [118]:
top_schools = per_school_summary_2.sort_values("% Overall Passing",ascending=False)
top_schools.head(5)

,School Type,Total School Budget,Student Name,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1043130,1635,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,1319574,2283,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,585858,962,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

# Bottom-Performing Schools (By % Overall Passing)

In [117]:
bottom_schools = per_school_summary_2.sort_values("% Overall Passing",ascending=True)
bottom_schools.head(5)

,School Type,Total School Budget,Student Name,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,2547363,3999,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,1910635,2917,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,3022020,4635,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,3094650,4761,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

# Math Scores by Grade

In [135]:
ninth_graders = school_students_complete[(school_students_complete["grade"] == "9th")]
tenth_graders = school_students_complete[(school_students_complete["grade"] == "10th")]
eleventh_graders = school_students_complete[(school_students_complete["grade"] == "11th")]
twelfth_graders = school_students_complete[(school_students_complete["grade"] == "12th")]

ninth_grade_math_scores = ninth_graders.groupby("school_name")
ninth_grade_math=pd.DataFrame(ninth_grade_math_scores["math_score"].mean())

tenth_grader_math_scores = tenth_graders.groupby("school_name")
tenth_grader_math= pd.DataFrame(tenth_grader_math_scores["math_score"].mean())

eleventh_grader_math_scores = eleventh_graders.groupby("school_name")
eleventh_grader_math= pd.DataFrame(eleventh_grader_math_scores["math_score"].mean())

twelfth_grader_math_scores =ninth_graders.groupby("school_name")
twelfth_grader_math=pd.DataFrame(twelfth_grader_math_scores["math_score"].mean())

math_score_by_grade=pd.DataFrame({"9th":ninth_grade_math["math_score"],
                                  "10th":tenth_grader_math["math_score"],
                                  "11th":eleventh_grader_math["math_score"],
                                  "12th":twelfth_grader_math["math_score"]})
math_score_by_grade.head()

                            9th       10th       11th       12th
school_name
Bailey High School    77.083676  76.996772  77.515588  77.083676
Cabrera High School   83.094697  83.154506  82.765560  83.094697
Figueroa High School  76.403037  76.539974  76.884344  76.403037
Ford High School      77.361345  77.672316  76.918058  77.361345
Griffin High School   82.044010  84.229064  83.842105  82.044010

# Reading Scores by Grade

In [137]:
ninth_grade_reading_scores = ninth_graders.groupby("school_name")
ninth_grade_reading=pd.DataFrame(ninth_grade_math_scores["reading_score"].mean())

tenth_grader_reading_scores = tenth_graders.groupby("school_name")
tenth_grader_reading= pd.DataFrame(tenth_grader_reading_scores["reading_score"].mean())

eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")
eleventh_grader_reading= pd.DataFrame(eleventh_grader_reading_scores["reading_score"].mean())

twelfth_grader_reading_scores =ninth_graders.groupby("school_name")
twelfth_grader_reading=pd.DataFrame(twelfth_grader_reading_scores["reading_score"].mean())

reading_score_by_grade=pd.DataFrame({"9th":ninth_grade_reading["reading_score"],
                                  "10th":tenth_grader_reading["reading_score"],
                                  "11th":eleventh_grader_reading["reading_score"],
                                  "12th":twelfth_grader_reading["reading_score"]})
reading_score_by_grade.head()

                            9th       10th       11th       12th
school_name
Bailey High School    81.303155  80.907183  80.945643  81.303155
Cabrera High School   83.676136  84.253219  83.788382  83.676136
Figueroa High School  81.198598  81.408912  80.640339  81.198598
Ford High School      80.632653  81.262712  80.403642  80.632653
Griffin High School   83.369193  83.706897  84.288089  83.369193

# Scores By School Spending

In [138]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [139]:
school_spending_df = per_school_summary_2.copy()

In [141]:
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Budget Per Student"],spending_bins,labels=labels,include_lowest=True)
school_spending_df

,School Type,Total School Budget,Student Name,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,3022020,4635,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,248087,427,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,1910635,2917,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,3094650,4761,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,585858,962,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,2547363,3999,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1056600,1761,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1043130,1635,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,1319574,2283,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1049400,1800,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [143]:
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [159]:
spending_summary = pd.DataFrame([spending_math_scores,spending_reading_scores,spending_passing_math,spending_passing_reading,overall_passing_spending])
spending_summary.transpose()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

# Scores by School Size

In [149]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [150]:
per_school_summary_2["School Size"]=pd.cut(per_school_summary_2["Student Name"],size_bins,labels=labels,include_lowest=True)
_2per_school_summary_2

,School Type,Total School Budget,Student Name,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,3022020,4635,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,248087,427,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,1910635,2917,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,3094650,4761,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,585858,962,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,2547363,3999,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1056600,1761,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1043130,1635,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,1319574,2283,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1049400,1800,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [152]:
size_math_scores = per_school_summary_2.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary_2.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary_2.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary_2.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary_2.groupby(["School Size"])["% Overall Passing"].mean()

In [156]:
size_summary=pd.DataFrame([size_math_scores,size_reading_scores,size_passing_math,size_passing_reading,size_overall_passing])
size_summary.transpose()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

# Score By School Type

In [160]:
average_math_score_by_type = per_school_summary_2.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary_2.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary_2.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary_2.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary_2.groupby(["School Type"])["% Overall Passing"].mean()

In [161]:
type_summary=pd.DataFrame([average_math_score_by_type,average_reading_score_by_type,average_percent_passing_math_by_type,average_percent_passing_reading_by_type,average_percent_overall_passing_by_type])
type_summary.transpose()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208